@page "/profile/{Id:int}"
@using KatMemeABlazing.Shared.Models
@inject HttpClient Http
@inject KatUserUpdate _katUserUpdate

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

@code {

    //private KatUserUpdate _katUserUpdate = new KatUserUpdate();

}
