@page "/profilesetting/2fa"
@using KatMemeABlazing.Shared.Models
@inject KatUserUpdate _katUserUpdate
@inject NavigationManager _navigationManager
@using System.Security.Claims
@using System.IO
@inject HttpClient client


<div class="katleft">
    <div class="card" keep-alive=""><h5 class="card-header bg-transparent py-15">Two Factor Authentication</h5> <div class="card-body"><span> <div class="mb-15 text-center"><button type="button" class="btn btn-primary">Enable 2FA</button></div> <!----> <!----> <div class="mb-15"><!----></div></span></div></div>
</div>

<div class="katright">
    <ProfileMenu />
</div>

@code {
    
}
