@page "/reporting"
@using KatMemeABlazing.Shared.Models
@inject KatReportShow _katReportShow
@inject HttpClient client
@inject NavigationManager _navigationManager
@using System.Security.Claims

<div class="card mb-15"><div class="card-body clearfix">Moderator panel</div></div>

@if (isMod)
{
    <div class="card">
        <div class="card-header bg-transparent py-15">Lastest reports</div>

        <div class="table-responsive">
            <table class="table">

                <thead>
                    <tr>
                        <th>Reason</th>
                        <th>Post ID</th>
                        <th>Report ID</th>
                        <th class="text-right">Last reported at</th>
                        <th class="text-center">Status</th>
                        <th class="text-right">Action</th>
                    </tr>
                </thead>
                <tbody>

                    <Virtualize Items="listReports" Context="katreport">
                        <ItemContent>
                            <tr>
                                <td>
                                    @katreport.Reason
                                </td>

                                <td>
                                    <a href="/p/@katreport.PostId">@katreport.PostId</a>
                                </td>

                                <td>
                                    @katreport.Id
                                </td>

                                <td class="text-right">
                                    @katreport.CreatedDate
                                </td>
                                <td class="text-center">
                                    @if (katreport.Isprocessed == null)
                                    {
                                        <span class="badge badge-info">Waiting</span>
                                    }
                                    else if (katreport.Isprocessed == false)
                                    {
                                        <span class="badge badge-warning">Ignored</span>
                                    }
                                    else if (katreport.Isprocessed == true)
                                    {
                                        <span class="badge badge-danger">Deleted</span>
                                    }

                                </td>

                                <td class="text-right">
                                    @if (katreport.Isprocessed == null)
                                    {
                                        <a @onclick="() => Ignore(katreport.Id)">Ignore</a>  <a @onclick="() => Delete(katreport.Id)">Delete</a>
                                    }
                                    else
                                    {
                                        <b>Processed</b>
                                    }
                                </td>
                            </tr>
                        </ItemContent>
                    </Virtualize>
                </tbody>
            </table>
        </div>
    </div>
}

@code {

    private bool isMod = false;
    [CascadingParameter]
    public Task<AuthenticationState> authenticationState { get; set; }

    public List<KatReport> listReports { get; set; } = new List<KatReport>();
    public bool isToolExpanded = false;

    private void Refresh()
    {
        StateHasChanged();
    }

    private async Task Delete(int id)
    {
        await client.PutAsJsonAsync<KatReport>("katreports/process/" + id, _katReportShow);
        await Task.Delay(100);
        StateHasChanged();
    }

    private async Task Ignore(int id)
    {
        await client.PutAsJsonAsync<KatReport>("katreports/ignore/" + id, _katReportShow);
        await Task.Delay(100);
        StateHasChanged();
    }

    protected override async Task OnInitializedAsync()
    {
        var authie = await authenticationState;
        var u = authie.User;

        if (u.Identity.IsAuthenticated)
        {
            var claim = u.FindFirst(c => c.Type == ClaimTypes.NameIdentifier);
            string ywouldudodis = claim?.Value;
            int checkid = Convert.ToInt32(ywouldudodis);
            if (checkid == 1)
            {
                listReports = await _katReportShow.GetReport();
                isMod = true;
            }
            else
                _navigationManager.NavigateTo("");
        }
        else
            _navigationManager.NavigateTo("login");


    }

    private void NavigateToChat()
    {
        _navigationManager.NavigateTo("/chat");
    }
}
