.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row {
    height: 3.5rem;
    text-shadow: -1px 0 #2f1919, 0 1px #2b1b1b, 1px 0 #211212, 0 -1px #271818;
    font-family: cursive;
    font-size: 25px;
}

.top-row a {
    color: #ffbdc9 !important;
}

.navbar-brand {
    font-size: 1.1rem;
}

.oi {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -4px;
    color: #44bef1;
}

.nav-item {
    padding-top: 1rem;
    font-size: 18px;
    padding: 0;
}

    .nav-item:first-of-type {
        padding-top: 1rem;
    }

    .nav-item:last-of-type {
        padding-bottom: 1rem;
    }

    .nav-item ::deep a {
        border-radius: 4px;
        height: auto;
        display: flex;
        align-items: center;
        padding: 10px 15px;
        color: rgba(255,255,255,.6);
        line-height: 3rem;
        border-bottom: 1px solid rgba(255,255,255,.1);
    }

.nav-item ::deep a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item ::deep a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler {
        display: none;
    }

    .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
