<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">KatMeme</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="hot" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Hot
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="fresh">
                <span class="oi oi-clock" aria-hidden="true"></span> Fresh
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="funny">
                <span class="oi oi-heart" aria-hidden="true"></span> Funny
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="wibu">
                <span class="oi oi-trash" aria-hidden="true"></span> Degenerated Wibu
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }   
}
